nav {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #dbdbdb;
  background: #ffffff;
  left: 0px;
  top: 0px;
  z-index: +1;
}

.container {
  display: flex;
  align-items: center;
  background: #ffffff;
  margin: 9px;
}

.navbar-left-side-links {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.navbar-left-side-links a:nth-child(1) {
  border-right: 1px solid black;
  /* height: 25px; */
  padding: 0px 3px;
  background: #ffffff;
}

.navbar-left-side-links img {
  margin: 0px 0px 0px 11px;
  padding: 0px 8px 0px 3px;
  width: 26px;
  color: #262625;
  background: #ffffff;
}

.logo-between-line {
  width: 1px;
  height: 25px;
}

img.logo {
  padding: 0;
  width: 103px;
  color: #262625;
  background: #ffffff;
}

.navbar-rightside-links {
  padding-left: 132px;
  background: #ffffff;
}

div > a {
  color: #4c494a;
  background: #ffffff;
}

.story-container {
  background-color: #fafafa;
  padding-top: 52px;
  border: 1px solid #dbdbdb;
}

ul img {
  width: 75px;
  border-radius: 50%;
  border: 2px solid #ec9ebc;
  height: 75px;
}
ul {
  display: flex;
  padding: 10px;
}
li {
  margin-left: 22px;
  display: flex;
  font-size: 14px;
}

.story-feed {
  padding: 0 0px 0px 8px;
  margin: 1px 0px;
}

.main-story-container {
  border: 1px solid #dbdbdb;
  background: #ffffff;
}

.main-story-title {
  display: flex;
  margin: 10px;
  background: #ffffff;
}

.main-story-title img {
  width: 50px;
  border-radius: 50%;
  border: 3px solid #df70ab;
  height: 50px;
  background: #ffffff;
}
.main-story-title p {
  margin: 22px 13px;
}
.main-story-title-more {
  display: flex;
  margin-left: 293px;
  background: #ffffff;
}
.main-story-title-more img {
  border: none;
  width: 42px;
}

.main-story-body img {
  width: 100%;
}

.main-story-footer {
  display: flex;
  justify-content: space-between;
}

.main-story-footer img {
  width: 30px;
  margin: 10px;
}

div > i {
  font-size: 28px;
}

.main-story-footer_links {
  padding: 7px 8px;
}

section {
  width: 100%;
}
.search {
  display: none;
}
.story-container-desktop {
  display: none;
}
p {
  margin: 10px;
  padding-left: 10px;
}
.comment {
  display: none;
}
.desktop-view {
  display: none;
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .story {
    margin: 25px;
    width: 94%;
  }
  .search {
    display: flex;
    width: 100%;
    margin-left: 9px;
    padding: 4px 75px;
    height: 18px;
    text-align: center;
  }
  .story-container {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    padding-top: 0px;
    margin-top: 75px;
  }
  .main-story-container {
    margin: 7px 25px;
    width: 94%;
  }
  p {
    margin: 10px;
    padding-left: 10px;
  }
  .main-story-title-more {
    display: flex;
    margin-left: 73%;
    background: #ffffff;
    width: 100%;
  }
  .comment {
    display: flex;
  }
  .comment-input {
    width: 92%;
    border: 1px solid #fafafa;
  }
  button {
    padding: 9px;
    opacity: 0.5;
    border: none;
    background: white;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    display: flex;
    justify-content: space-between;
    width: 975px;
    margin: 0 auto;
    height: 70px;
  }

  .story {
    display: none;
  }
  .search {
    display: flex;
    width: 100%;
    margin-left: 9px;
    padding: 4px 75px;
    height: 18px;
    text-align: center;
  }
  .story-container {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    padding-top: 0px;
    margin-top: 75px;
  }
  .main-story-container {
    margin: 88px 25px;
    width: 40%;
  }
  p {
    margin: 10px;
    padding-left: 10px;
  }
  .main-story-title-more {
    display: flex;
    margin-left: 55%;
    background: #ffffff;
    width: 100%;
  }
  .comment {
    display: flex;
  }
  .comment-input {
    width: 92%;
    border: 1px solid #fafafa;
  }
  button {
    padding: 9px;
    opacity: 0.5;
    border: none;
    background: white;
  }
  .desktop-view {
    position: absolute;
    width: 550px;
    top: 77px;
    left: 48%;
    display: block;
  }
  ul {
    display: block;
    padding: 0;
    background: #ffffff;
    width: 550px;
    font-size: 14px;
  }
  ul.desktop-story-container-a p {
    background: #ffffff;
  }
  li {
    background: #ffffff;
    margin: 15px;
  }
  .desktop-story-container-a img {
    width: 50px;
    height: 50px;
    background: #ffffff;
  }
  .desktop-view-title {
    display: flex;
    margin: 10px;
    background: #fafafa;
  }
  .desktop-view-title img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid #df70ab;
    height: 50px;
    background: #ffffff;
  }
  .desktop-story {
    border: 1px solid #fafafa;
    background: #ffffff;
    font-size: 14px;
  }
  .desktop-story-body {
    background: #ffffff;
  }
  .desktop-story-container {
    background: #ffffff;
    color: grey;
  }
  ul.desktop-story-container-a > p:nth-child(1) {
    color: grey;
    display: inline-block;
  }
  .follow {
    color: blue;
  }
}
